Flask
Flask-RESTful
llama-index==0.10.26
llama-index-llms-openai
llama-index-llms-huggingface==0.1.4
llama-index-embeddings-huggingface
llama-index-vector-stores-weaviate==0.1.5
pypdf
sentence-transformers
rank-bm25
pysrt
pandas
deep_translator
detectlanguage
flask_cors
python-dotenv